.Nav_Main_cont {
    border: 2px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#fafafc;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    height: 60px;
    font-family: sans-serif;


}

.nav_list {
    list-style: none;
    display: flex;
    align-items: center;

    li {
        padding-left: 10px;
        color: rgb(10, 9, 9);
        
       
    }

}

.card_container {
    border-radius: 20px;

    border: 2px solid grey;
    display: inline-block;
    height: 350px;


    max-width: 250px;
    overflow: hidden;

    img {
        width: 100%;
        /* height: auto; */
        display: block;
        height: 250px;
    }
}

.cartButton_cont {

    span {
        font-weight: bold;
    }
}

.footer_cont {
    background-color: #0f1111;
    color: white;
    text-align: center;
}

.error_main_container{

    text-align: center;
}
.cart_card_main_container{
    width: 300px;
    height: 350px;
    border: solid black 2px;
    
    img{
        width: 100%;
    }
}

.home_banner_img{
    
    img{
        width: 100%;
        
    }
    
}
.products_main_cont{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}